body {
    font-family: Arial, sans-serif;
    background-image: url("Capture.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 100px auto; /* Centrage horizontal (auto) et marge supérieure de 100px */
    background-color: rgb(237, 228, 210);
    padding: 2rem 1rem; /* Réduction du padding */
    width: 80%; /* Ajustez la largeur selon vos besoins */
    max-width: 500px; /* Limite la taille maximale */
    border-radius: 20px;
    box-shadow: 0px 2px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.quote-box {
    font-size: 2em;
    border-radius: 20px;
    margin: 50px 0;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #574518;
    border: none;
    color: rgb(234, 227, 235);
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ad880d;
}
